.portfolio__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.portfolio__tabs button {
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  background: none;
}
.portfolio__tabs .button-active {
  color: white;
  background-color: black;
}
.portfolio__all-show {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.portfolio__all-hide {
  display: none;
}
.portfolio__all-data {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  gap: 2rem;
}
.portfolio__web-show {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  gap: 2rem;
}
.portfolio__web-show .box {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 10px;
}
.portfolio  .box  .box__img,
.portfolio  .box  .box__img-web,
.portfolio  .box  .box__img-react,
.portfolio  .box  .box__img-cert{
height: 200px;
position: relative;
overflow: hidden;
transition: 1s;
}
.portfolio__web-show .box img {
  border-radius: 10px;
  position: absolute;

}
.portfolio__web-hide {
  display: none;
}
/*==================== start style for portfolio alldata====================== */
.portfolio__all-data .box {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 10px;
}
.portfolio__all-data .box .box__img {
  position: relative;
overflow: hidden;
}
.portfolio__all-data .box:nth-child(1) img{
  border-radius: 10px;
  position: absolute;
 animation: top_img-all-1 8s ease-in-out 1; 
}
@keyframes top_img-all-1 {
  0%{
     top: 0;
  }
  50%{
    top:-350%
  }
  100%{
    top: 0;

  }
}
.portfolio__all-data .box:nth-child(1) img:hover{
animation-play-state: paused;
}

.portfolio__all-data .box:nth-child(2) img{
  border-radius: 10px;
  position: absolute;
 animation: top_img-all-2 8s ease-in-out 1; 
 animation-delay: .6s;

}
@keyframes top_img-all-2 {
  0%{
     top: 0;
  }
  50%{
    top:-350%
  }
  100%{
    top: 0;

  }
}
.portfolio__all-data .box:nth-child(2) img:hover{
  animation-play-state: paused;
  }
.portfolio__all-data .box .title__project,
.portfolio__web-show  .title__project

 {
  padding: 1rem 0rem 0.5rem;
}
.portfolio__all-data .box img {
  width: 300px;
  border-radius: 10px;
}
/* =================media for section portfolio============================================= */
@media screen and (max-width: 992px) {
  .portfolio__all-data {
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .portfolio__all-data {
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;
  }
  .portfolio__web-show {
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;

  }
  .portfolio__all-data .box img,
  .portfolio__web-show .box img {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .portfolio__all-data {
    grid-template-columns: repeat(1, 0.8fr);
  }
  .portfolio__web-show {
    grid-template-columns: repeat(1, 0.8fr);
  }
}
@media screen and (max-width: 350px) {
  .portfolio__tabs button {
    padding: 0.4rem 0.4rem;
   
  }
  .portfolio__tabs {
    gap: initial;
  }
  .portfolio__all-data {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio__web-show {
    grid-template-columns: repeat(1, 1fr);
  }
}
